.dashboard-col-2 {
}

.dashboard-col {
  background: url("../../img/brickwall_@2X.png") center;
  background-repeat: repeat;
  /* height: min-content; */
}

.dashboard-card {
  /* height: min-content; */
  flex-direction: column;
  justify-content: flex-start;
}

.dashboard-card-body {
  display: inline;
  text-align: center;
  padding-bottom: 0%;
}

.dashboard-img {
  width: 110px;
  height: 110px;
  border-width: 2px;
  border-color: lightgray;
}

.dashboard-container {
  padding: 0%;
}

.dashboard-row {
  min-height: 100vh;
}

.dashboard-card {
  background-color: rgb(61, 6, 6);
  color: oldlace;
}

.fa-map-signs {
  color: rgb(143, 137, 126);
}

.fa-map-signs:hover {
  color: oldlace;
}

p.map-signs {
  color: oldlace;
}

p.map-signs:hover {
  color: oldlace;
}

.fa-shopping-basket {
  color: rgb(143, 137, 126);
}

.fa-shopping-basket:hover {
  color: oldlace;
}

.fa-address-book {
  color: rgb(143, 137, 126);
}

.fa-address-book:hover {
  color: oldlace;
}

.fa-calendar {
  color: rgb(143, 137, 126);
}

.fa-calendar:hover {
  color: oldlace;
}
