.dashboard-col-2 {
  justify-content: center;
  display: flex;
  height: 100vh;
}

.dashboard-card-body {
  color: black;
  display: inline;
  text-align: center;
  padding-bottom: 0%;
}

.dashboard-img {
  width: 60%;
}

.dashboard-container {
  padding: 0%;
}

.dashboard-card {
  background-color: rgb(94, 6, 6);
}
