.userform-background {
  background: url("../../img/audio-868487_1280.jpg") center;
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
}

.userform-card-container {
  align-items: center;
  z-index: 4;
}

.userform-form-group {
  margin-bottom: 5px;
}

.userform-card {
  border-color: rgb(37, 37, 37);
  border-width: thick;
}

.userform-body {
  padding-top: 2px;
  padding-bottom: 2px;
}
