.home-brand-container {
  background-color: rgba(39, 39, 39);
}

.home-background {
  /* background: url("../../img/audio-868487_1280.jpg") center; */
  background-color: rgba(39, 39, 39);
  background-size: cover;
  text-align: center;
  color: rgb(248, 249, 250);
  display: flex;
}

.home-headphones {
  background: url("../../img/headphones-690685_1920.jpg") center;
  background-size: cover;
  height: 80vh;

  margin-top: calc(10vh - 28px);
}

.login-card-container {
  align-items: center;
  justify-content: center;
  background-color: rgb(238, 238, 238);
  height: calc(100vh - 56px);
}

.login-card {
  width: 85%;
  /* height: 60%; */
}

.login-form-group {
  margin-bottom: 2rem !important;
}

.login-button-container {
  margin-bottom: 10rem;
}

.login-text {
  font-size: 1.5rem;
  font-style: italic;
}
