.navbar {
  background-color: rgb(24, 24, 24);
  color: aliceblue;
}

.nav-link {
  color: aliceblue;
}

a:hover {
  color: greenyellow;
}

.nav-dropdown-background {
  background-color: black;
  color: aliceblue;
}
div.dropdown-menu.show {
  background-color: black;
  color: aliceblue;
}

.logo-text {
  color: aliceblue;
}

/* .navbar-toggler {
  background-color: aliceblue;
} */
